body {
  background-color: yellowgreen;
}

#btn {
  margin: 50px auto;
  height: 35px;
  width: 250px;
  font-size: 21px;
  display: flex;
  justify-content: center;
}

#output {
  margin: auto;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

#heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 150px;
}
